/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Body
  ========================================
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

p {
    font-size: 20px;
    font-family: 'Quattrocento', serif;
    padding-bottom: 1%;
}

.content {
    flex: 1;
}

.header {
    font-family: 'Quattrocento', serif;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.box {
    width: 500px;
    background-color: white;
    color: orange;
    margin: 5% auto;
    padding: 2%;
    display: table;
}

.links {
    text-align: center;
}

.quote-container {
    display: inline-block;
    height: 10px;
}

.author-container {
    float: right;
    margin-top: 2%;
}

#quote {
    width: 500px;
    margin: 0 auto 10% auto;
    font-size: 25px;
    letter-spacing: .02em;
    font-family: 'Quattrocento', serif;
}

#author {
    width: 500px;
    margin-top: 10px;
    font-family: 'Quattrocento', serif;
    text-align: right;
    display: inline-block;
    float: right;
}

.button-box {
    width: 95%;
    display: block;
    margin: 10% auto 0 auto;
    
}

#quote-button {
    margin-top: 15px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-size: 15px;
    background-color: orange;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    float: right;
}

.buttons:hover {
    opacity: .65;
}

.fa-quote-left {
    display: inline;
    float: left;
    margin-right: 10px;
    font-size: 30px;
}
