@import url(reset.css);

/*
  ========================================
  Body
  ========================================
*/

html {
    height: 100%;
    font-family: "Quattrocento", sans-serif;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #9E9E9E;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-family: "Quattrocento", sans-serif;
}

p {
    font-size: 20px;
}

.content {
    flex: 1;
}

/*
  ========================================
  Header and Footer
  ========================================
*/

.bars {
    display: flex;
    width: 100%;
    height: 8.3%;
    background-color: #F5F5F5;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

/*
  ========================================
  Buttons
  ========================================
*/

.buttons {
    padding: 0 3%, 0 3%;
    width: 35%;
    margin: 2% auto 0 auto;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 25%;
    height: 3%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF5722;
    box-shadow:  0px 1px 5px 1px rgba(0,0,0,0.45);
}

.btn:hover {
    opacity: .5;
}

/*
  ========================================
  Streamer List
  ========================================
*/

.streamers {
    width: 75%;
    margin: 0 auto;
}

.entries {
    display: flex;
    border: 1px solid black;
    width: 60%;
    margin: 2% auto;
    background-color: #FF5722;
    box-shadow:  0px 0px 1px 1px rgba(0,0,0,0.5);
}

.img {
    height: 8%;
    margin: 1%;
    border-radius: 50%;
    border: solid 2px black;
}

.str-name, .str-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-self: center;
    margin-left: 5%;
}

.str-name {
    width: 20%;

}

.str-info {
    width: 50%;
}

.link {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
    
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    display: none;
}