/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Body
  ========================================
*/

* {
	font-family: 'Quattrocento', sans-serif;
	text-decoration: none;
}

html, body {
    height: 100%;
    background-color: #455a64;
    color: #212121;
    font-family: 'Quattrocento', sans-serif;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
}

h1 {
    font-size: 40px;
}

.header {
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 2%;
    box-shadow: 0 0 1em black;
}

.footer {
	position: static;
	bottom: 0;
	width: 100%;
}

a:hover {
    opacity: .5;
}
/*
  ========================================
  Wikipedia Search Box
  ========================================
*/

.wiki-box {
    width: 500px;
    height: 90px;
    margin: 0 auto;
    color: #fff;
}

.search-bar {
    margin: 30px auto;

    margin-bottom: 25px;
}

#bar {
    width: 100%;
    color: #212121;
    text-align: center;
	font-size: 20px;
}

.button-box {
    width: 320px;
    color: #212121;
    display: block;
    margin: 0 auto;
}

button {
    display: inline-block;
    margin: 0 auto;
	width: 150px;
	text-align: center;
	margin-left: 5px;
	font-size: 15px;
	font-weight: 900;
	border-radius: 5px;
	border: solid 1px #212121;

}

#wiki-search, #random {
	height: 40px;
}

button:hover {
	opacity: .50;
}

input:focus::-webkit-input-placeholder 
{
color: transparent;
}

/*
  ========================================
  Wikipedia Search Results
  ========================================
*/

.results-box {
    width: 750px;
    margin: 25px auto 0 auto;
}

.entry {
	display: block;
	font-size: 20px;
	width: 100%;
    border: solid 1px #03a9f4;
	margin: 15px auto;
	border-radius: 15px;
	padding: 10px;
	color: #ffffff;
	background-color: #03a9f4;
	box-shadow: 0 0 .5em #212121;
}