/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Body
  ========================================
*/

html {
    height: 100%;
} 

body {
    min-height: 100%;
    background-color: #ffbf00;
    color: #212121;
    font-family: 'Quattrocento', sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    color: white;
    padding: 2%;
    box-shadow: 0 0 1em black;
}

.footer {
    bottom: 0px;
    height: 10%;
}

.weather-box {
    width: 500px;
    margin: 100px auto 0 auto;
    background-color: #ee7600;
    padding: 25px 0 25px 0;
    box-shadow: 0 0 1em black;
}

.forecast {
    display: inline-block;
    width: 160px;
    margin-top: 20px;
}

#temp-one, 
#temp-two, 
#temp-thr,
#img-one,
#img-two,
#img-thr,
#wth-one,
#wth-two,
#wth-thr {
    text-align: center;
}

#temp-one, 
#temp-two, 
#temp-thr {
    margin: 10px 0 10px 0;
}

.links {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.output {
    margin: 10px auto 10px auto;
    text-align: center;
}

#temp {
    font-size: 30px;
}

#location {
    font-size: 25px;
}

.button {
    margin-left: 190px;
    margin-top: 10px;
}

#swap {
    border-radius: 1px;
    border: 1px solid black;
    box-shadow: 0 0 .15em black;
    background-color: #BDBDBD;
    font-size: 15px;
}
